@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Báo cáo chuyên đề Mùa hè xanh</title>
</head>
<body>
    <div class="container mt-5">
        <div class="text-center">
            <h3>Bạn đã được mời tham dự buổi báo cáo Chuyên đề: "Mùa hè xanh"</h3>
            <h3>Địa điểm: Trường Đại học Ngoại ngữ Tin học - HUFLIT</h3>
            <h6 class="text-muted">Ấn đăng ký để làm nô lệ điểm rèn luyện</h6>
            <a class="btn btn-primary mt-3" asp-action="RsvpForm">Đăng ký ngay</a>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
