@model PartyInvites.Models.GuestResponse
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Thanks</title>
</head>
<body class="text-center d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="container">
        <div class="mb-4">
            <h1 class="display-4">Thank you, @Model?.Name!</h1>
            @if (Model?.WillAttend == true)
            {
                <h3 class="text-success">Đăng ký thành công</h3>
                <h5 class="text-muted">Hẹn gặp bạn vào lúc 20 giờ tối nay tại Hội trường lầu 6 HUFLIT - khu B</h5>
            }
            else
            {
                <h3 class="text-danger">Thật tiếc khi không thể gặp bạn</h3>
                <h5 class="text-muted">Hẹn bạn lần sau!</h5>
            }
        </div>
        <div>
            Ấn vào <a asp-action="ListResponses" class="link-primary">đây</a> để thấy những người sẽ tham gia
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
